body{
    font-family: 'Spline Sans', sans-serif;
}
h1{
    font-size:50px;
    text-align: justify;
}
span{
    color:rgb(68, 189, 52);
}
.flexible-item{
    display:flex;
    margin-bottom: 100px;
    text-align:justify;

}
.tawhid{
    width:50%;
    padding-left:5%;
}
.tawhid img{
    width:70%;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(rgb(52, 114, 196),rgb(77, 241, 220));
    padding : 10px 10px;
    border-radius:5px;
    color:white;
    font-weight: 700;
}
.first-section{
    background-image:url(photos/pexels-photo-747964.jpeg);
    background-repeat:no-repeat;
}
.colour{
    color:rgb(59, 228, 59);
    font-size: 30px;
}
.experience{
    width:40%;
    margin-left:5%;
    margin-right:5%;
    padding:5%;
    border-radius:10px;
    box-shadow:10px 10px 40px rgb(78, 78, 28);
}
#border-clr{
    border-left:10px solid;
    border-image:linear-gradient(red,orange)
    border-image-slice: 1;
}
#border-clr2{
    border-left:10px solid;
    border-image:linear-gradient(rgb(22, 51, 145),rgb(126, 10, 141))
    border-image-slice: 1;
}
footer p{
    text-align:center;
}