body{
    font-family: 'Spline Sans', sans-serif;
}
h1{
    font-size:50px;
}
span{
    color:rgb(68, 189, 52);
}
section{
    display:flex;
}
.tawhid{
    width:50%;
    padding-left:5%;
}
.tawhid img{
    width:75%;
}
.link-button{
    text-decoration:none;
    background-image: linear-gradient(rgb(52, 114, 196),rgb(77, 241, 220));
    padding : 10px 10px;
    border-radius:5px;
    color:white;
    font-weight: 700;
}
#first-section{
    background-image:url(photos/pexels-photo-747964.jpeg);
    background-repeat:no-repeat;
}